@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: "oldlondom";
    src: url("oldlondom.ttf") format("truetype");
}

h1 {
    font-size: 70px;
    font-family: "Roboto Slab";
}

h2 {
    font-size: 40px;
    font-family: "oldlondom";
}